In [1]:
print("Hello World")

Hello World

In [3]:
print("Hello\nWorld")

Hello
World

In [4]:
# this is a comment

In [5]:
type("Hello World")

str

In [6]:
type("1.1")

str

In [7]:
int("1")

1

In [8]:
bool("1")

True

In [9]:
print(int("1"))

1

In [10]:
print(bool("1"))

True

In [11]:
print(bool(int("1")))

True

In [12]:
bool(1)

True

In [13]:
# Try you first Python output
print("Hello, Pyhon!")

Hello, Pyhon!

In [14]:
# Check the Python Version
import sys
print(sys.version)

3.8.5 (default, Sep  4 2020, 02:22:02)
[Clang 10.0.0 ]

In [15]:
# Practie on writing comments
print("Hello, Python!") # This line prints a string
# print("Hi")

Hello, Python!

In [16]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: name 'frint' is not defined

In [17]:
print("Hello, World")

Hello, World

In [18]:
print ("Hello, world!") # Print the traditional helo world

Hello, world!

In [19]:
# Integer
11

11

In [20]:
# Float
2.14

2.14

In [21]:
# String
"Hello, Python 101"

'Hello, Python 101'

In [22]:
# Type of 12

type(12)

int

In [23]:
# Type of 2.14

type(2.14)

float

In [24]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

In [25]:
type(12.0)

float

In [26]:
# Print the type of -1

type(-1)

int

In [27]:
# Print the type of 4

type(4)

int

In [28]:
# Print the type of 0

type(0)

int

In [29]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

In [30]:
# Print the type of 0.5

type(0.5)

float

In [31]:
# Print the type of 0.56

type(0.56)

float

In [32]:
# System settings about float type

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [33]:
# verfy that this is an integer
type(2)

int

In [34]:
# Convert 2 to a float

float(2)

2.0

In [35]:
# Convert integer 2 to a float and check its type

type(float(2))

float

In [36]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

In [37]:
# Convert a string into an integer

int('1')

1

In [38]:
# Convert a string into an integer with error

int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [39]:
# Convert the string "1.2" into a float

float('1.2')

1.2

In [40]:
# Convert an integer to a string

str(1)

'1'

In [41]:
# Convert a float to a string

str(1.2)

'1.2'

In [42]:
# Value true

True

True

In [43]:
# Value false

False

False

In [44]:
# Type of True

type(True)

bool

In [45]:
# Type of False

type(False)

bool

In [46]:
# Convert True to int

int(True)

1

In [47]:
# Convert 1 to boolean

bool(1)

True

In [48]:
# Convert 0 to boolean

bool(0)

False

In [49]:
# Convert True to float

float(True)

1.0

In [50]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
6/2

3.0

In [51]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
6//2

3

In [52]:
# Addition operation expression

43 + 60 + 16 + 41

160

In [53]:
# Subtraction operation expression

50 - 60

-10

In [54]:
# Multiplication operation expression

5 * 5

25

In [55]:
# Division operation expression

25 / 5

5.0

In [56]:
# Division operation expression

25 / 6

4.166666666666667

In [57]:
# Integer division operation expression

25 // 5

5

In [58]:
# Integer division operation expression

25 // 6

4

In [59]:
# Mathematical expression

30 + 2 * 60

150

In [60]:
# Mathematical expression

(30 + 2) * 60

1920

In [61]:
# Store value into variable

x = 43 + 60 + 16 + 41

In [62]:
x

160

In [63]:
y = x / 60
y

2.6666666666666665

In [64]:
# Overwrite variable with new value

x = x / 60
x

2.6666666666666665

In [65]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [66]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

In [67]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

2.3666666666666667

In [68]:
Letters="ABCDEFGHIJK"
Letters[0:4]

'ABCD'

In [69]:
Good="GsoAo+d"
Good[::2]

'Good'

In [70]:
"uppercase"
"uppercase".upper()

'UPPERCASE'

In [71]:
# Use quotation marks for defining string

"Michael Jackson"

'Michael Jackson'

In [72]:
# Use single quotation marks for defining string

'Michael Jackson'

'Michael Jackson'

In [73]:
# Digitals and spaces in string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

In [74]:
# Special characters in string

'@#2_#]&*^%$'

'@#2_#]&*^%$'

In [75]:
# Print the string

print("hello!")

hello!

In [76]:
# Assign string to variable

name = "Michael Jackson"
name

'Michael Jackson'

In [77]:
# Print the first element in the string

print(name[0])

M

In [78]:
# Print the element on index 6 in the string

print(name[6])

l

In [79]:
# Print the element on the 13th index in the string

print(name[13])

o

In [80]:
# Print the last element in the string

print(name[-1])

n

In [81]:
# Print the first element in the string

print(name[-15])

M

In [82]:
# Find the length of string

len("Michael Jackson")

15

In [83]:
# Take the slice on variable name with only index 0 to index 3

name[0:4]

'Mich'

In [84]:
# Take the slice on variable name with only index 8 to index 11

name[8:12]

'Jack'

In [85]:
# Get every second element. The elments on index 1, 3, 5 ...

name[::2]

'McalJcsn'

In [86]:
# Get every second element in the range from index 0 to index 4

name[0:5:2]

'Mca'

In [87]:
# Concatenate two strings

statement = name + "is the best"
statement

'Michael Jacksonis the best'

In [88]:
# Print the string for 3 times

3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [89]:
# Concatenate strings

name = "Michael Jackson"
name = name + " is the best"
name

'Michael Jackson is the best'

In [90]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [91]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [92]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [93]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

In [94]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [95]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [96]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "Michael Jackson"
name.find('el')

5

In [97]:
# Find the substring in the string.

name.find('Jack')

8

In [98]:
# If cannot find the substring in the string

name.find('Jasdfasdasdf')

-1